[Desktop Entry]
Type=Application
Name=Sparkle-Lite
Icon=io.goddaneel.sparkle-lite
Exec=sparkle-lite
StartupWMClass=sparkle-lite
X-Flatpak=io.goddaneel.sparkle-lite
Comment=Unofficial Package
Categories=Network
Terminal=false